<div class="cc-test">
  <h3>Good Credit Cards </h3>
  <div class="row">

    <div class="col-md-6">

        <table class="table">
            <thead>
            <tr>
                <th>Card Number</th>
                <th>Card Type</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="cc-number">378282246310005</td>
                <td>American Express</td>
            </tr>
            <tr>
                <td class="cc-number">371449635398431</td>
                <td>American Express</td>
            </tr>
            <tr>
                <td class="cc-number">6011111111111117</td>
                <td>Discover</td>
            </tr>
            <tr>
                <td class="cc-number">5555555555554444</td>
                <td>Mastercard</td>
            </tr>
            <tr>
                <td class="cc-number">4111111111111111</td>
                <td>Visa</td>
            </tr>
            <tr>
                <td class="cc-number">4005519200000004</td>
                <td>Visa</td>
            </tr>
            <tr>
                <td class="cc-number">3530111333300000</td>
                <td>JCB</td>
            </tr>
            <tr>
                <td class="cc-number">6304000000000000</td>
                <td>Maestro</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="row">
    <h3>Bad Credit Cards </h3>
    <div class="col-md-6">
        <h4>Errors are only generated based on amount</h4>
        <table class="table">
            <thead>
            <tr>
                <th>Card Number</th>
                <th>Card Type</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="cc-number">4000111111111115</td>
                <td>Visa</td>
            </tr>
            <tr>
                <td class="cc-number">5105105105105100</td>
                <td>MasterCard</td>
            </tr>
            <tr>
                <td class="cc-number">378734493671000</td>
                <td>American Express</td>
            </tr>
            <tr>
                <td class="cc-number">6011000990139424</td>
                <td>Discover</td>
            </tr>
            <tr>
                <td class="cc-number">3566002020360505</td>
                <td>JCB</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-6">
        <table class="table-condensed cc-test-amount-table">
            <thead>
            <tr>
                <th class="amount">Amount</th>
                <th class="amount-desc">Processor Response</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="amount">$0.01 - $1999.99</td>
                <td class="amount-desc">Authorized</td>
            </tr>
            <tr>
                <td class="amount error">$2000.00 - $2077.99</td>
                <td class="amount-desc">Processor Declined with the processor response equal to the amount</td>
            </tr>
            <tr>
                <td class="amount error">$2078.00 - $2999.99</td>
                <td class="amount-desc">Processor Declined with a decline code equal to the amount</td>
            </tr>
            <tr>
                <td class="amount error">$3000.00 - $3000.99</td>
                <td class="amount-desc">Processor Declined with the processor response equal to the amount</td>
            </tr>
            <tr>
                <td class="amount">$3001.00 - $4000.99</td>
                <td class="amount-desc">Authorized</td>
            </tr>
            <tr>
                <td class="amount error">$4001.00</td>
                <td>Settlement Declined on PayPal transactions</td>
            </tr>
            <tr>
                <td class="amount error">$4002.00</td>
                <td>Settlement Pending on PayPal transactions</td>
            </tr>
            <tr>
                <td class="amount">$4002.01 - $5000.99</td>
                <td class="amount-desc">Authorized</td>
            </tr>
            <tr>
                <td class="amount">$5001.01 and up</td>
                <td class="amount-desc">Authorized</td>
            </tr>
            </tbody>
        </table>
    </div>
  </div>


</div>

